################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmailService/obj/Debug/netstandard2.0/EmailService.AssemblyInfoInputs.cache
/EmailService/obj
/EmailService/.vs/EmailService
